
/*TOP NAVIGATION BAR*/
.topbar {
	height: 100px;
	width: 100%;
	margin-top: 0;
	position: relative;
	background-color: white;
	border-bottom: 1px solid lightgrey;
}

.topbar img {
	height: 60px; 
	margin: 20px;
	margin-left: 30px;
	margin-right: 0;
	position: relative
}

.topbar h1 {
	position: relative;
	display: inline; 
	font-size: 37.5px;
	margin-left: 0;
	top: 10px;
}

#searchbar {
	position: relative;
	margin-left: 27.5%;
	width: 200px;
}


.wrapper {
	width: 100%; 
	overflow: hidden;
    margin: auto;
    display: none;

}

/*LEFT SIDEBAR*/

.leftbar {
	float: right;
	width: 250px;
	position: fixed;
	background-color: #37FFE6;
}

/*IMAGE GRID*/
.feed{
	margin-left:250px;
	align-content: center;
	background-color: #F8F8F8;
	width: 60%;
	padding: 5%;
	padding-top: 0;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    padding: 0;
    position: relative;
}

.post {
	margin-top: 60px;
	margin-left: 5%;
	border: 1px solid darkgrey;
	width: 90%;
	position: relative;
}

.image {
    vertical-align: middle;
    width: 100%;
    box-shadow: 2px 2px 2.5px #A6A6A6
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/*RIGHT SIDEBAR*/
.rightbar {

}

